---
import Layout from "../../layouts/PageLayout.astro";
---

<Layout
  title="Frank Stallone: Uses"
  desc="All of the tech, hardware, and software I use on a daily basis"
>
  <h2>Uses</h2>
  <p>
    People often ask me what I use. This is a nice way to send someone to a
    place where I can list, and link to what I use.
  </p>
  <h3>On the desk</h3>
  <ul>
    <li>
      <a href="https://www.upliftdesk.com/uplift-v2-l-shaped-standing-desk/"
        >L-Shaped UPLIFT Standing Desk V2 Commercial, Bamboo</a
      >
    </li>
    <li>
      <a
        href="https://rode.com/en-us/interfaces-and-mixers/rodecaster-series/rodecaster-pro-ii"
        >RODECaster Pro II</a
      >
    </li>
    <li>
      <a href="https://earthworksaudio.com/products/ethos/"
        >Earthworks ETHOS microphone</a
      >
    </li>
    <li>
      <a href="https://www.elgato.com/en/wave-mic-arm-lp"
        >Elgato Wave Mic Arm LP</a
      >
    </li>
    <li>
      <a href="https://aiaiai.audio/headphones/tma-2"
        >AIAIAI TMA-2 headphones (S05MKII-H03-E08-C02)</a
      >
    </li>
    <li>
      <a
        href="https://www.wacom.com/en-us/products/pen-tablets/wacom-intuos-pro"
        >Wacom Intuos Pro</a
      >
    </li>
    <li>
      <a
        href="https://www.amazon.com/CalDigit-TS4-Thunderbolt-Dock-USB/dp/B09GK8LBWS/"
        >CalDigit TS4 Thunderbolt 4 Dock</a
      >
    </li>
    <li>
      <a
        href="https://electronics.sony.com/imaging/interchangeable-lens-cameras/full-frame/p/ilce7rm2-b"
        >Sony A7R II (Webcam, there are better options)</a
      >
    </li>
    <li>
      <a href="https://www.elgato.com/en/cam-link-4k">Elgato Cam Link 4k</a>
    </li>
    <li>
      <a
        href="https://electronics.sony.com/imaging/lenses/full-frame-e-mount/p/sel50f18f-2"
        >Sony 50mm/1.8 (There are newer better options)</a
      >
    </li>
    <li>
      <a href="https://www.elgato.com/ru/en/p/prompter">Elgato Prompter</a>
    </li>
    <li>
      <a
        href="https://www.manfrotto.com/us-en/photo-variable-friction-arm-with-bracket-244/"
        >Manfrotto 244 Variable Friction Magic Arm with Camera Bracket</a
      >
    </li>
    <li>
      <a href="https://www.aputure.com/products/amaran-100d/"
        >amaran 100d Daylight LED Monolight</a
      >
    </li>
    <li>
      <a href="https://www.aputure.com/products/light-dome-se/"
        >Aputure Light Dome SE</a
      >
    </li>
    <li>
      <a
        href="https://www.bhphotovideo.com/c/product/850444-REG/Impact_ls_ct40mbk_Turtle_Base_C_Stand_Kit.html"
        >Impact Turtle Base C-Stand Kit (Black)</a
      >
    </li>
  </ul>
  <h3>Computer</h3>
  <ul>
    <li>2021 MacBook Pro M1 Max, 64GB DDR4, 1TB HD (Clamshell mode)</li>
    <li>
      <a href="https://www.apple.com/pro-display-xdr/">Apple Pro XDR monitor</a>
    </li>
    <li>
      <a
        href="https://www.apple.com/shop/product/MMMR3LL/A/magic-keyboard-with-touch-id-and-numeric-keypad-for-mac-models-with-apple-silicon-us-english-black-keys"
        >Apple Magic Keyboard with Touch ID and Numeric Pad (Black)</a
      >
    </li>
    <li>
      <a
        href="https://www.apple.com/shop/product/MMMP3AM/A/magic-trackpad-black-multi-touch-surface"
        >Apple Magic Trackpad (Black)</a
      >
    </li>
    <li>
      <a
        href="https://www.dyson.com/lighting/desk-lamps/lightcycle-cd04/white-silver"
        >Dyson Lightcycle Desk</a
      >
    </li>
  </ul>
</Layout>
