/* breakout content elements to wrapper based on full bleed image solution by josh cumeau. https://www.joshwcomeau.com/css/full-bleed/ */

.content {
  display: grid;
  grid-template-columns:
    1fr
    min(48ch, calc(100% - var(--gutter) * 2))
    1fr;
  grid-column-gap: var(--gutter);
}

.content > * {
  grid-column: 2;
}

.content .breakout {
  width: 100%;
  grid-column: 1 / -1;
}
