@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-variants-01 {
    font-feature-settings: "ss01" on;
    /* font-feature-settings: "ss02" on; */
  }
  .font-variants-02 {
    font-feature-settings: "ss02" on;
  }
}
@layer utilities {
  .hover {
    display: inline-block;
    position: relative;
  }
  .hover:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: hsl(358 65% 48.7%);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in-out;
  }

  .hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }
}

/* Blog posts */
@layer utilities {
  /* body {
    @apply font-semibold text-lg;
  } */
  .post h1 {
    @apply text-orange-1000;
  }
  .post h2,
  .post h3,
  .post h4 {
    @apply text-orange-900;
  }
  .post h1 {
    @apply text-4xl font-bold mt-8 mb-0 text-center;
  }
  .post h2 {
    @apply text-3xl font-semibold mb-4;
  }
  .post p {
    @apply mb-4;
  }
  .post p img {
    /* Margin's collapse! */
    @apply mb-8;
  }
  .post p > img {
    @apply max-w-full h-auto lg:max-w-3xl xl:max-w-5xl xl:-mx-32 lg:relative;
  }
  .post a,
  .post a:visited {
    @apply text-orange-900 decoration-orange-500 underline underline-offset-2 decoration-2 transition-all ease-in;
  }
  .post a:hover,
  .post a:focus {
    @apply decoration-orange-900;
  }

}
