@font-face {
  font-family: "Elena";
  src: url("/fonts/Elena-Bold.woff2") format("woff2"),
    url("/fonts/Elena-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Elena";
  src: url("/fonts/Elena-Regular.woff2") format("woff2"),
    url("/fonts/Elena-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Elena";
  src: url("/fonts/Elena-BoldItalic.woff2") format("woff2"),
    url("/fonts/Elena-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Elena Regular";
  src: url("/fonts/Elena-RegularItalic.woff2") format("woff2"),
    url("/fonts/Elena-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
