@font-face {
  font-family: "Futura Now Headline";
  src: url("/fonts/FuturaNowHeadline-XBd.woff2") format("woff2"),
    url("/fonts/FuturaNowHeadline-XBd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Now Text";
  src: url("/fonts/FuturaNowText-XBd.woff2") format("woff2"),
    url("/fonts/FuturaNowText-XBd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Now Var";
  src: url("/fonts/FuturaNowVar-Roman.woff2") format("woff2"),
    url("/fonts/FuturaNowVar-Roman.woff") format("woff");
  font-weight: 1 999;
  font-style: normal;
  font-display: swap;
}
