@font-face {
  font-family: "Futura Now Headline";
  src: url("/fonts/FuturaNowHeadline-Blk.woff2") format("woff2"),
    url("/fonts/FuturaNowHeadline-Blk.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Now Var";
  src: url("/fonts/FuturaNowVar-Roman.woff2") format("woff2"),
    url("/fonts/FuturaNowVar-Roman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
