---
import PortfolioLayout from '../layouts/PortfolioLayout.astro'
---

<PortfolioLayout title="Builders Trust Capital" theme="#031633">
    <div class="sm:min-h-screen mb-20 sm:mb-2 md:mb-36 lg:mb-64 xl:mb-96">
        <div class="mx-auto max-w-7xl w-full relative flex justify-center items-center">
            <h2>Builders Trust Capital</h2>
        </div>
    </div>
    <main class="mx-auto max-w-7xl w-full mb-20 px-4 z-10 relative">
    </main>
</PortfolioLayout>