---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.astro';
import Header from '../components/Header/index.astro';
import { Variant, VARIANT_MAPS } from '../utils/variants.ts'
const { variant = "default" } = Astro.props;

export interface Props {
    variant: Variant;
}
const metaThemeColor = `${VARIANT_MAPS[variant].themeColor}`;
---
<html lang="en" class="overflow-x-hidden">
  <head>
    <MainHead title="Frank Stallone Portfolio" />
    <meta name="theme-color" content={metaThemeColor}>
  </head>
  <body class="min-h-screen overflow-x-hidden relative">
  <Header />
  <figure class="grid gap-4 p-4 place-items-center xs:grid-cols-2 lg:grid-cols-4">
    <img src="/assets/me.jpg" class="xs:square lg:col-start-2" alt="Photograph of me, Frank Stallone III">
    <figcaption class="lg:col-span-2 h-full flex place-items-center">
      <h2 class="text-amber-amber12 sm:leading-snug p-8 text-xl md:text-4xl xl:text-5xl font-bold">👋🏼 Hiya! I love technology, mindfulness and creating compelling user experiences.</h2>
    </figcaption>
  </figure>
  <h2 class="sr-only">Featured work</h2>
  <main class="grid gap-4 px-4 place-items-center xs:grid-cols-2 lg:grid-cols-4">
    <a href="/btc" class="xs:square"><img src="/assets/squared/BTC-squared@2x.png" alt="Screenshot logo and branding for Builders Trust Capital circa 2020"></a>
    <a href="/btc" class="xs:square"><img src="/assets/squared/roll-inverted-squared@2x.png" alt="Screenshot of Roll by ADP chat final design circa 2018"></a>
    <a href="/btc" class="xs:square"><img src="/assets/squared/prezzo.it@2x.png" alt="Screenshot of Prezzo.it home page wireframe"></a>
    <a href="/btc" class="xs:square"><img src="/assets/squared/njc-squared@2x.png" alt="Screenshot of logo and branding for Noah James Curtis Stone Supply"></a>
  </main>
   <!-- <main class="mx-auto max-w-7xl w-full mb-20 px-4 z-10 relative">
    <h2 class="sr-only">Featured work</h2>
    <ul class="grid sm:grid-cols-2 sm:grid-rows-1 gap-4 sm:gap-24">
      <li class="flex flex-col sm:-mt-48">
        <a href="/btc" class="text-btc-800 hover:text-btc-700">
          <img src="/assets/BTC.png" alt="Screenshot logo and branding for Builders Trust Capital circa 2020"/>
          <h2 class="text-4xl font-black my-4">Builders Trust Capital</h2>
        </a>
        <p class="text-xl text-btc-700 leading-relaxed pb-4">Rebranded from Ashmore Partners, logo, branding, style guide, UX engineer and generally brought this team's success to another level for their clients.</p>
        <p>Through discovery sessions, customer and client interviews, industry research with a small team we rebranded Ashmore Partners to Builders Trust Capital. This shift signified the next step in the journey of the partnersa and company. They wanted to show their clients and investors that they were in this for the long haul. From print to digital their new branding has been met with warmth from all parties. </p>
      </li>
      <li class="flex flex-col mt-12 sm:mt-48">
        <a href="/roll" class="text-roll-1000 hover:text-roll-900">
          <img src="/assets/roll-by-adp-views-2.0.png" alt="Screenshot of Roll by ADP chat final design circa 2018"/>
          <h2 class="text-4xl font-black my-4">Roll by ADP</h2>
        </a>
        <p class="text-xl text-roll-900 leading-relaxed pb-4">Prototyped and built chat bot conversation, timeline and people user interfaces that allowed business owners, and HCM practitioners to accomplish their daily activities faster and with confidence.</p>
        <p>Collaborated with business, design team and backend developers using data from research and user usage I helped clean up the information architecture, came up with UX optimizations to be proactive for the user and simplify hierarchy with methodologies like progressive disclosure. From there I refined the UI creating new design patterns, created a dynamic design token solution and integrated with the team in our component library built with React. Learn, educate, refine, rinse and repeat with an amazing team.</p>
      </li>
    </ul>
   </main> -->
    <Footer />
  </body>
</html>
