---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
---
<html lang="en">
  <head>
    <MainHead title="Frank Stallone Portfolio" />
  </head>
  <body class="h-screen overflow-x-hidden">
  <div class="bg-amber-amber1">
    <div class="mx-auto max-w-7xl w-full pb-96 relative sm:flex">
      <figure>
            <img src="/assets/me.jpg" class="sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-7xl" alt="Photograph of me, Frank Stallone III">
      </figure>
      <header class="absolute bottom-20 sm:relative sm:bottom-auto">
          <h2 class="bg-black/50 text-amber-amber2 backdrop-blur-sm leading-normal sm:bg-black/75 p-6 sm:-ml-96 sm:mt-96 sm:mr-10 sm:p-10 text-xl sm:text-3xl md:-ml-52 md:p-16 lg:text-4xl xl:text-6xl xl:p-20 font-display font-black">👋🏼 Howdy! I love technology, mindfulness and creating compelling user experiences.</h2>
      </header>
    </div>
  </div>
   <main class="mx-auto max-w-7xl w-full pb-20">
    <div class="flex pb-96">
    <img src="/assets/chat@2x.png" alt="Screenshot of Roll by ADP chat final design circa 2019" class="max-h-96" />
      <h3 class="bg-black/50 text-white backdrop-blur-sm leading-snug font-medium text-2xl p-6">Prototyped and built chat bot conversation, timeline and people user interfaces that allowed business owners, and HCM practitioners to accomplish their daily activities faster and with confidence.</h3>
      <p class="p-6 text-lg text-amber-amber12">Collaborated with business, design team and backend developers using data from research and user usage I helped clean up the information architecture, came up with UX optimizations to be proactive for the user and simplify hierarchy with methodologies like progressive disclosure. From there I refined the UI creating new design patterns, created a dynamic design token solution and integrated with the team in our component library built with React. Learn, educate, refine, rinse and repeat with an amazing team.</p>
    </div>
    <div class="flex pb-96 flex-row-reverse">
      <h3 class="bg-black/50 text-white backdrop-blur-sm leading-snug font-medium text-2xl p-6">Helped facilitate conversations, design, architect and build out a Design System in multiple JavaScript libraries to aid in rising the tide of design principals, create consistency and save business unit's time throughout the portfolio of applications at ADP.</h3>
      <p class="p-6 text-lg text-amber-amber12">Worked with multiple teams throughout the various business units at ADP to define design patterns and technology stacks used for the next generation of ADP's Design System.</p>
    </div>
    <div class="flex pb-96">
      <h3 class="bg-black/50 text-white backdrop-blur-sm leading-snug font-medium text-2xl p-6">Helped facilitate conversations, design, architect and build out a Design System in multiple JavaScript libraries to aid in rising the tide of design principals, create consistency and save business unit's time throughout the portfolio of applications at ADP.</h3>
      <p class="p-6 text-lg text-amber-amber12">Worked with multiple teams throughout the various business units at ADP to define design patterns and technology stacks used for the next generation of ADP's Design System.</p>
    </div>
    <div class="flex pb-96 flex-row-reverse">
      <h3 class="bg-black/50 text-white backdrop-blur-sm leading-snug font-medium text-2xl p-6">Created the front-end for a new section of the myALINE web app for the ALINE card integration in half the contracted time.</h3>
      <p class="p-6 text-lg text-amber-amber12">Collaborated with business, third party vendors and backend teams to prototype, scaffold and get approval on final user interface for major new feature. Left the team three months early with a completed project, style guide and component library.</p>
    </div>
    <div class="flex pb-96">
      <h3 class="bg-black/50 text-white backdrop-blur-sm leading-snug font-medium text-2xl p-6">Prototyped a site builder app that clients could use to quickly create custom marketing websites in WordPress. This product is still live today and has generated $50M+ in revenue.</h3>
      <p class="p-6 text-lg text-amber-amber12">Created a React app that walks the user through a series of questions for content, design elements like color and typography, for building out their sites. Broke down sites into sections and modules for reusable components.</p>
    </div>
    <div class="flex pb-96 flex-row-reverse">
      <h3 class="bg-black/50 text-white backdrop-blur-sm leading-snug font-medium text-2xl p-6">Cut custom WordPress theme creation turn around time in half by optimizing the collaboration between the design and development teams.</h3>
      <p class="p-6 text-lg text-amber-amber12">Created a template grid system for designers in Photoshop and developers in HTML/CSS/JS. Designers could pass plug and play sections that gave developers a head start on building custom WordPress sites.</p>
    </div>
    <div class="flex pb-96">
      <h3 class="bg-black/50 text-white backdrop-blur-sm leading-snug font-medium text-2xl p-6">Created a sophisticated brand that appealed to their entrepreneur clientele and resonated with their core values of trust, stability and transparency.</h3>
      <p class="p-6 text-lg text-amber-amber12">Through discovery sessions, interviews with clients and employees and industry research we aided in rebranding Ashmore Partners to Builders Trust Capital with a new logo, print material, brand guidelines and an accessible performant website.</p>
    </div>
   </main>
    <Footer />
  </body>
</html>
