---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Header from '../components/Header/index.astro';

---
<html lang="en">
  <head>
    <MainHead title="Frank Stallone Portfolio" />
  </head>
  <body class="h-screen overflow-x-hidden relative">
  <svg viewBox="0 0 3334 1180" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="absolute z-0 top-[-2000px] lg:top-[-1500px] transform right-1/2 translate-x-1/2 text-amber-amber4 w-[4000px] h-[4000px] fill-current" role="img"><path d="M.568 479.167H0V0h3333.33v479.167h-.568c-23.224 256.374-760.866 700-1666.1 700-905.233 0-1642.88-443.626-1666.1-700z"/></svg>
  <Header />
  <div class="sm:min-h-screen mb-20 sm:mb-2 md:mb-36 lg:mb-64 xl:mb-96">
    <div class="mx-auto max-w-7xl w-full relative flex justify-center items-center">
      <figure>
        <img src="/assets/me.jpg" class="sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-3xl" alt="Photograph of me, Frank Stallone III">
      </figure>
      <heading class="absolute bottom-0 sm:relative sm:bottom-auto">
        <h2 class="bg-black/50 text-amber-amber2 backdrop-blur-sm xl:leading-tight sm:bg-black/75 p-6 sm:-ml-96 sm:mt-96 sm:mr-10 sm:p-10 text-xl sm:text-3xl md:-ml-52 md:p-16 lg:text-4xl xl:text-5xl xl:p-20 font-display font-bold">👋🏼 Hiya! I love technology, mindfulness and creating compelling user experiences.</h2>
      </heading>
    </div>
  </div>
   <main class="mx-auto max-w-7xl w-full mb-20 px-4 z-10 relative">
    <h2 class="sr-only">Featured work</h2>
    <ul class="grid sm:grid-cols-2 sm:grid-rows-1 gap-4 sm:gap-24">
      <li class="flex flex-col sm:-mt-48">
        <img src="/assets/BTC.png" alt="Screenshot logo and branding for Builders Trust Capital circa 2020"/>
        <h2 class="text-4xl font-display font-black my-4">Builders Trust Capital</h2>
        <p class="text-lg text-gray-700 leading-snug font-bold font-now pb-4">Rebranded from Ashmore Partners, logo, branding, style guide, UX engineer and generally brought this team's success to another level for their clients.</p>
        <p>Through discovery sessions, customer and client interviews, industry research with a small team we rebranded Ashmore Partners to Builders Trust Capital. This shift signified the next step in the journey of the partnersa and company. They wanted to show their clients and investors that they were in this for the long haul. From print to digital their new branding has been met with warmth from all parties. </p>
      </li>
      <li class="flex flex-col mt-12 sm:mt-48">
        <img src="/assets/roll-by-adp-views-2.0.png" alt="Screenshot of Roll by ADP chat final design circa 2018"/>
        <h2 class="text-4xl font-display font-black my-4">Roll by ADP</h2>
        <p class="text-lg text-gray-700 leading-snug font-bold font-now pb-4">Prototyped and built chat bot conversation, timeline and people user interfaces that allowed business owners, and HCM practitioners to accomplish their daily activities faster and with confidence.</p>
        <p>Collaborated with business, design team and backend developers using data from research and user usage I helped clean up the information architecture, came up with UX optimizations to be proactive for the user and simplify hierarchy with methodologies like progressive disclosure. From there I refined the UI creating new design patterns, created a dynamic design token solution and integrated with the team in our component library built with React. Learn, educate, refine, rinse and repeat with an amazing team.</p>
      </li>
    </ul>
   </main>
    <Footer />
  </body>
</html>
