---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
---
<html lang="en">
  <head>
    <MainHead title="Frank Stallone Portfolio" />
  </head>
  <body class="h-screen overflow-x-hidden">
  <div class="bg-amber-amber1 mx-auto max-w-7xl w-full pb-20 relative sm:flex">
    <figure>
          <img src="/assets/me.jpg" class="sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-7xl" alt="Photograph of me, Frank Stallone III">
    </figure>
    <header class="absolute bottom-20 sm:relative sm:bottom-auto">
        <h2 class="bg-black/50 text-amber-amber1 backdrop-blur-sm leading-normal sm:bg-black/75 sm:rounded-tl-3xl sm:rounded-br-3xl p-6 sm:-ml-96 sm:mt-96 sm:mr-10 sm:p-10 text-xl sm:text-3xl md:-ml-52 md:p-16 lg:text-4xl xl:text-5xl xl:p-20 text-white font-serif">I love technology, mindfulness and creating compelling user experiences.</h2>
    </header>
  </div>
    <main class="">
      
    </main>
    <Footer />
  </body>
</html>
