  <header class="mx-auto py-4 flex z-10 relative max-w-7xl">
    <h1 class="flex-grow ml-4"><a class="text-amber-amber12" href="/">Frank Stallone</a></h1>
    <ul class="list-none flex flex-row-reverse space-x-4 space-x-reverse max-w-7xl mr-4">
      <li><a class="text-amber-amber12" href="https://changelog.stallone.dev">Changelog</a></li>
      <li><a class="text-amber-amber12" href="https://linkedin.com/in/frankstallone">LinkedIn</a></li>
      <li><a class="text-amber-amber12" href="https://twitter.com/frankstallone">Twitter</a></li>
    </ul>
  </header>