---
const { title = 'The portfolio of', desc = 'The UX/UI, logo, branding and front-end development portfolio of Frank Stallone', variant = "default" } = Astro.props;
import { Variant, VARIANT_MAPS } from '../utils/variants.ts'
export interface Props {
    variant?: Variant;
}
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, shrink-to-fit=no">
<meta name="description" content={desc}>
<meta name="theme-color" content={`${VARIANT_MAPS[variant].themeColor}`}>
<title>{title}: Frank Stallone</title>
<link rel="stylesheet" type="text/css" href="/global.css">
<link rel="stylesheet" type="text/css" href="/facundo.css">
