@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}
@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-thin-italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}
@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-extralight-italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}
@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-light-italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}
@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-medium-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}
@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}
@font-face {
  font-family: "Future";
  src: url("/fonts/future/the-future-black-italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; /* Download only latin glyphs */
}
