/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  color: var(--color-dark);
  background: var(--color-light);
  font-size: var(--step-1);
  font-family: var(--font-base);
  font-weight: var(--font-base-weight);
  line-height: var(--line-height);
  letter-spacing: var(--tracking);
}

/* Base typesetting */
h1,
h2,
h3 {
  font-family: var(--font-display);
  line-height: var(--line-height-small);
  letter-spacing: var(--tracking-s);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
  max-inline-size: 50ch;
}

h1,
h2,
h3 {
  max-inline-size: 30ch;
}

/* More generic elements */
blockquote:not([class]) {
  font-family: var(--font-display);
  font-size: var(--step-2);
}

/* Markdown blockquuote:not([class])s aren't ideal, so we're presuming the person quoted is the last p */
blockquote:not([class]) p:last-of-type {
  font-family: var(--font-base);
  font-size: var(--step-1);
  font-weight: normal;
}

svg {
  height: 2ex;
  width: auto;
  flex: none;
}

[role="list"] {
  padding: 0;
}

/* Base interactive elements */

a {
  color: currentcolor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background: var(--color-dark);
  color: var(--color-light);
}

/* Blog */

time {
  --tracking: 0.015ch;
  --color-dark: var(--olive-11);
  font-size: var(--step--1);
  font-family: var(--font-display);
  text-transform: uppercase;
  color: var(--color-dark);
  letter-spacing: var(--tracking);
}

@keyframes fade-in {
  from {
    scale: 0.95;
    opacity: 0.15;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade-to {
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes animate-in-and-out {
  entry 0% {
    opacity: 0;
    transform: translateY(100%);
  }
  entry 100% {
    opacity: 1;
    transform: translateY(0);
  }
  exit 0% {
    opacity: 1;
    transform: translateY(0);
  }
  exit 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    img {
      scale: 0.75;
      opacity: 0.5;
      animation: fade-to linear forwards;
      animation-timeline: view();
      animation-range: entry;
    }
  }
}
