/* Homepage Cover */

.hero-bg {
  /* background-image: linear-gradient(
      to bottom,
      rgba(247, 242, 225, 0.5),
      rgb(96, 71, 45)
    ),
    url("/assets/doors.jpg"); */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url("/assets/doors.jpg");
  background-position: center;
  background-size: cover;
}

.hero {
  color: var(--olive-1);
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: var(--gutter);
  overflow: hidden;
}

.hero h2 {
  --tracking: -0.05ch;
  letter-spacing: var(--tracking);
  font-size: var(--step-6);
}

.hero > * {
  margin-block: 1rem;
}

.hero > :first-child:not(div) {
  margin-block-start: 0;
}

.hero > :last-child:not(div) {
  margin-block-end: 0;
}

.hero > div {
  margin-block: auto;
}
