.txt {
	font: normal 10px Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	text-decoration: none;



}
.hed {
	font: bold small-caps normal 14px Impact, Tahoma, Helvetica;
	text-decoration: none;
	color: #333333;

}
em {
	font: bold 8px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;

}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {color: #769AE1; text-decoration: none}
.linx {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}


BODY{
scrollbar-face-color:#5D6E9C;
scrollbar-arrow-color:#330033;
scrollbar-track-color:#666699;
scrollbar-shadow-color:#8299D6;
scrollbar-highlight-color:#8299D6;
scrollbar-3dlight-color:#330033;
scrollbar-darkshadow-Color:#5D6E9C;
}

