---
import Head from "../components/Head.astro";

export interface Props {
  title: string;
  desc: string;
}

const {
  title = "The portfolio of",
  desc = "The UX/UI, logo, branding and front-end development portfolio of Frank Stallone",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} desc={desc} />
  <body>
    <banner
      ><p>
        This site is no longer updated. <a href="https://frankstall.one/"
          >Head to the home of Frank Stallone</a
        >.
      </p></banner
    >
    <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
    <slot />
  </body>
</html>
