---
export interface Props {
    title: string;
    theme?:string;
}
const {title, theme} = Astro.props;
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Header from '../components/Header/index.astro';
---
<html>
  <head>
    <title>{title} : Portfolio</title>
    <MainHead />
  </head>
  <body class="h-screen overflow-x-hidden relative">
    <svg aria-hidden="true" focusable="false" class="absolute z-0 top-[-1500px] sm:top-[-850px] transform right-1/2 translate-x-1/2 text-[#031633] w-[2000px] h-[2000px]" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M512 256c0 141.4-114.6 256-256 256s-256-114.6-256-256s114.6-256 256-256S512 114.6 512 256z"></path></svg>
    <Header />
    <!-- slot: your page content will be injected here. -->
    <slot />
    <Footer />
  </body>
</html>