---
import PortfolioLayout from '../../layouts/PortfolioLayout.astro'
import { VARIANT_MAPS } from '../../utils/variants.ts'
---

<PortfolioLayout title="Builders Trust Capital" variant="btc">
    <div class="min-h-80">
        <h2 class={`mt-4 text-3xl xl:text-4xl font-bold ${VARIANT_MAPS["btc"].h1}`}>Preface: Builders Trust Capital</h2>
        <h3 class={`mb-4 text-xl xl:text-2xl font-bold ${VARIANT_MAPS["btc"].h2}`}>Logo, Branding, UX, UI, Styleguide, Custom Content, Digital and Physical Marketing</h3>
        <div class="mb-4 xs:mb-8 grid gap-4 xs:grid-cols-2 lg:grid-cols-3">
            <p class="lg:text-xl"><span class="font-semibold">Created a sophisticated brand that appealed to their entrepreneur clientele and resonated with their core values of trust, stability and transparency.</span></p>
            <p class="lg:text-lg">Ashmore Partners came to me with a few issues they wanted to resolve. It all started with a phone call where the partners and I discussed their goals, where they were, where they were going and how they felt they were being held back.</p>
            <p class="lg:text-lg">Feeling like we would be a good fit, I sent them my client worksheet to dive deeper into the nuances of their goals, budget, timeframes and what a successful engagement looks like for them.</p>
        </div>
        <section class="grid gap-4 place-items-center xs:grid-cols-2 md:grid-cols-4 md:grid-rows-2 lg:grid-cols-8 lg:grid-rows-8 mb-4">
          <a href="#" class="xs:square md:col-span-2 md:row-span-2 lg:col-span-4 lg:row-span-4 lg:row-start-2"><img src="/assets/squared/btc-squared-01@2x.png" alt="Photo of initial sketches of the chosen logo for Builders Trust Capital showing the intentions for the three pilars"></a>
          <a href="#" class="xs:square lg:row-start-2 lg:col-start-7 lg:col-span-2 lg:row-span-2"><img src="/assets/squared/btc-squared-02@2x.png" alt="Screenshot of the home page design for Builders Trust Capital"></a>
          <a href="#" class="xs:square lg:row-start-5 lg:col-start-6 lg:col-span-3 lg:row-span-3"><img src="/assets/squared/btc-squared-03@2x.png" alt="Screenshot of the presentation for the new Builders Trust Capital logo in context on a sign and business cards"></a>
          <a href="#" class="xs:square lg:row-start-1 lg:col-start-5 lg:row-span-2 lg:col-span-2"><img src="/assets/squared/btc-squared-04@2x.png" alt="Logo presentation of the Builders Trust Capital mark and logo type"></a>
          <div aria-hidden="true" class="square hidden lg:block bg-gold-50 rounded-lg h-full w-full lg:col-start-3"></div>
          <div aria-hidden="true" class="square hidden lg:block bg-gold-100 rounded-lg h-full w-full lg:col-start-4"></div>
          <div aria-hidden="true" class="square hidden lg:block bg-gold-200 rounded-lg h-full w-full lg:col-start-5 lg:row-start-3"></div>
          <div aria-hidden="true" class="square hidden md:block bg-gold-300 rounded-lg h-full w-full lg:col-start-5 lg:row-start-4"></div>
          <div aria-hidden="true" class="square hidden lg:block bg-gold-400 rounded-lg h-full w-full lg:col-start-5 lg:row-start-5"></div>
          <div aria-hidden="true" class="square hidden lg:block bg-gold-500 rounded-lg h-full w-full lg:col-start-5 lg:row-start-6"></div>
          <div aria-hidden="true" class="square hidden lg:block bg-gold-600 rounded-lg h-full w-full lg:col-start-4 lg:row-start-6"></div>
          <div aria-hidden="true" class="square hidden lg:block bg-gold-700 rounded-lg h-full w-full lg:col-start-3 lg:row-start-6"></div>
          <div aria-hidden="true" class="square hidden lg:block bg-gold-800 rounded-lg h-full w-full lg:col-start-2 lg:row-start-6"></div>
          <div aria-hidden="true" class="square hidden lg:block bg-gold-900 rounded-lg h-full w-full lg:col-start-1 lg:row-start-6"></div>
        </section>
    </div>
    <h2 class={`text-3xl xl:text-4xl font-bold ${VARIANT_MAPS["btc"].h1}`}>Case Study</h2>
    <h3 class={`mb-4 text-xl xl:text-2xl font-bold ${VARIANT_MAPS["roll"].h2}`}>Reshaping the Ashmore Partner Brand</h3>
    <h4 class="hidden">Skills displayed</h4>
    <div class="sm:space-x-4 space-y-2 xs:space-y-4 mb-10">
        <span class="text-xs font-extralight bg-btc-700 px-4 py-1 rounded-lg text-btc-100 break-normal block sm:inline-block">Product thinking</span>
        <span class="text-xs font-extralight bg-btc-700 px-4 py-1 rounded-lg text-btc-100 break-normal block sm:inline-block">Interaction design</span>
        <span class="text-xs font-extralight bg-btc-700 px-4 py-1 rounded-lg text-btc-100 break-normal block sm:inline-block">Visual design</span>
        <span class="text-xs font-extralight bg-btc-700 px-4 py-1 rounded-lg text-btc-100 break-normal block sm:inline-block">Proactivity and drive</span>
        <span class="text-xs font-extralight bg-btc-700 px-4 py-1 rounded-lg text-btc-100 break-normal block sm:inline-block">Intentionality</span>
        <span class="text-xs font-extralight bg-btc-700 px-4 py-1 rounded-lg text-btc-100 break-normal block sm:inline-block">Self-awareness</span>
    </div>
    <div class="mb-4 lg:mb-10 grid gap-4 lg:gap-12 xs:grid-cols-2 lg:grid-cols-3 place-items-start place-content-center">
        <p class="lg:text-lg"><span class="font-semibold">In this case study we'll explore what it took to elevate a hard money lender brand to be a step above.</span> The pitch was to solve their identity refresh, logo, create a branding style guide with color, typography, space and sizing, custom website, content and print marketing material. </p>
        <p class="lg:text-lg">The Ashmore Partners team and I began to engage discovery sessions. They needed to speak to the entrepreneur audience as much as their investors. However, the website was to focus on converting potential entrepreneurs as that is what prospective investors will want to see.</p>
        <p class="lg:text-lg">We started the engagement with renaming the company and creating a unique logo that would stand the test of time. In tandem our copywriter Shannan Seely started interviewing clients and associates to gather their voice and establish tone. Talking to clients and associates ensures the content created is relevant and engaging for the audience. </p>
    </div>
    <section class="grid gap-4 lg:gap-12 place-content-center place-items-center mb-4 lg:mb-10 xs:grid-cols-2 md:grid-cols-3 md:grid-rows-3">
        <div class="md:row-span-3">
            <p class="lg:text-lg">Out of the logo questionnaire session with Ashmore Partners we defined three adjectives that would be the brand's core principals. During decision making throughout our engagement we would ask "does this align with our core principals of trust, integrity and transparency?".  This aided us in moving conversations from subjective responses to objective rationale. Instead of "I don't like purple" we can easily reframe to "Does this work for the brand?", which can be discussed in terms of "Is this in alignment with our core principals".</p>
        </div>
        <div class="xs:grid-cols-2 md:col-span-2 md:row-span-3 w-full h-full flex justify-center items-center">
            <img src="/assets/btc/btc-applications.jpg" alt="A visual graphic showing the logo in applications">
        </div>
    </section>
    <section class="grid gap-4 lg:gap-12 place-content-center place-items-start mb-4 lg:mb-10 xs:grid-cols-2 md:grid-cols-3">
        <p class="lg:text-xl font-semibold">We dived deeper into industry research and built out a renaming exploration sheet with words related to their offerings, end results, core principals and related nouns and verbs. From that exploration we pitched a few names. Out of this exercise, Builders Trust Capital was born. </p>

        <p class="lg:text-lg">Simultaneously I collaborated with another designer sketching ideas for logos. Due to the digital and print presence we felt Builders Trust Capital should have a logo mark and logo type.The logo mark would look good as an avatar in the digital world and would pair well with a type logo when space afforded the opportunity. Our goal for the logo design was to pitch three or four that we felt best represented the brand. </p>

        <p class="lg:text-lg">Once we had solid concepts, we created higher fidelity design and applied them to practical applications. These were relevant to where one might find the logo in the physical world and digitally. The logo presentation was resounding hit. The team at Builders Trust Capital had the real challenge to pick just one. After one was chosen and a few revisions made, we had a logo, brand colors and a typeface we could use for headings. </p>
    </section>
    <section class="grid gap-4 lg:gap-12 place-content-center place-items-center mb-4 lg:mb-10 xs:grid-cols-2 md:grid-cols-3 md:grid-rows-3">
        <div class="md:row-span-3">
            <p class="lg:text-lg pb-4">From there I created a style guide where we expanded the blue and gold colors, created neutrals and supporting colors with 10 variations. All done while keeping an eye on WCAG AA/AAA contrast ratios for digital, and PMS colors for print. We picked a paired typeface for body copy to match the one used in the modified type logo. Finally we put together logo and spacing and sizing guidelines.</p>
            <p class="lg:text-lg">Next up, we took to task redesigning their web presence. I decided that I would wireframe this in the browser. We were using the previous websites sitemap but creating a few marketing pages specific to their offerings.</p>
        </div>
        <div class="xs:grid-cols-2 md:col-span-2 md:row-span-3 w-full h-full flex justify-center items-center">
            <a href="/assets/btc/builders-trust-capital-design-system-3.1.pdf">
                <img src="/assets/btc/btc-style-guide.png" alt="Screenshot of the style guide for Builders Trust Capital">
            </a>
        </div>
    </section>
    <section class="grid gap-4 lg:gap-12 place-content-center place-items-center mb-4 lg:mb-10 xs:grid-cols-2 md:grid-cols-3 md:grid-rows-3">
        <div class="row-start-2 xs:row-start-1 xs:grid-cols-2 md:col-span-2 md:row-span-3 w-full h-full flex justify-center items-center">
            <img src="/assets/btc/btc-website-screenshot.png" alt="Screenshot of the home page for the updated Builders Trust Capital website">
        </div>
        <div class="row-start-1 md:row-span-3">
            <p class="lg:text-lg pb-4">In the wireframing phase we started with a single marketing page. The structure was designed in the lighter end of the neutral color palette for now so we can focus discussions on the information architecture. By this time, Shannan had copy ready to share with the client. We were able to integrate drafts of the content for each page, live in the web. Feedback from the client could come from one place, where it was going to live. Gradually, the pages would get higher and higher fidelity. Accessibility, optimizations, browser testing and performance could be done simultaneously as the wireframe came alive. </p>
            <p class="lg:text-lg pb-4">With the content, structure and visual design approved I went above and beyond with polish and animations. It's important to note here that while designing and building out the structure I could also build this scaffolding to be fully responsive. From mobile devices to full desktop screens each section of every page with scrutinized to look good along every breakpoint.</p>
        </div>
    </section>
    <section class="flex flex-col justify-center mx-auto w-full max-w-2xl">
        <p class="xs:text-xl lg:text-3xl font-semibold sm:text-center"><b class="font-black">Builders Trust Capital scaled</b> to new territory and collaborating with new entrepreneurs, investors and third party vendors. <b class="font-black">We achieved their goal</b> of creating a sophisticated brand that stood above the competition and they have increased revenue for all of their involved parties.</p>
    </section>
</PortfolioLayout>
