---
import PortfolioLayout from '../../layouts/PortfolioLayout.astro'
import { Variant, VARIANT_MAPS } from '../../utils/variants.ts'
---

<PortfolioLayout title="Roll by ADP" variant="roll">
    <div class="min-h-80 mb-20 lg:mb-40">
        <h2 class={`pt-4 text-3xl xl:text-4xl font-bold ${VARIANT_MAPS["roll"].h1}`}>Roll by ADP</h2>
        <h3 class={`pb-4 text-xl xl:text-2xl font-semibold ${VARIANT_MAPS["roll"].h2}`}>UX, UI, Design System</h3>
        <p class="pb-8 md:w-1/2 lg:w-1/3 font-semibold">Over seven years of collaborating with product, design and engineering teams. Diving into the minutia to provide meaningful and relevant experiences for our users.</p>
        <section class="grid gap-4 place-items-center xs:grid-cols-2 md:grid-cols-4 md:grid-rows-2 lg:grid-cols-8 lg:grid-rows-8 mb-20">
            <img src="/assets/squared/roll-squared-01@2x.png" alt="Mock up of the original logo design for Roll by ADP" class="xs:square md:col-span-2 md:row-span-2 lg:col-span-4 lg:row-span-4 lg:row-start-2">
            <img src="/assets/squared/roll-squared-02@2x.png" alt="Screenshot of VSCode showing the design tokens repository for Roll by ADP" class="xs:square lg:row-start-2 lg:col-start-7 lg:col-span-2 lg:row-span-2">
            <img src="/assets/squared/roll-squared-03@2x.png" alt="Screenshot of the payroll run conversation UI showcasing the components design and created for our clients" class="xs:square lg:row-start-5 lg:col-start-6 lg:col-span-3 lg:row-span-3">
            <img src="/assets/squared/roll-squared-04@2x.png" alt="Screenshots of the mobile app that would eventually be used circa 2018" class="xs:square lg:row-start-1 lg:col-start-5 lg:row-span-2 lg:col-span-2">
            <div aria-hidden="true" class="square hidden lg:block bg-roll-50 h-full w-full lg:col-start-3"></div>
            <div aria-hidden="true" class="square hidden md:block bg-roll-100 rounded-lg h-full w-full lg:col-start-4"></div>
            <div aria-hidden="true" class="square hidden lg:block bg-roll-200 rounded-lg h-full w-full lg:col-start-5 lg:row-start-3"></div>
            <div aria-hidden="true" class="square hidden lg:block bg-roll-300 rounded-lg h-full w-full lg:col-start-5 lg:row-start-4"></div>
            <div aria-hidden="true" class="square hidden lg:block bg-roll-400 rounded-lg h-full w-full lg:col-start-5 lg:row-start-5"></div>
            <div aria-hidden="true" class="square hidden lg:block bg-roll-500 rounded-lg h-full w-full lg:col-start-5 lg:row-start-6"></div>
            <div aria-hidden="true" class="square hidden lg:block bg-roll-600 rounded-lg h-full w-full lg:col-start-4 lg:row-start-6"></div>
            <div aria-hidden="true" class="square hidden lg:block bg-roll-700 rounded-lg h-full w-full lg:col-start-3 lg:row-start-6"></div>
            <div aria-hidden="true" class="square hidden lg:block bg-roll-800 rounded-lg h-full w-full lg:col-start-2 lg:row-start-6"></div>
            <div aria-hidden="true" class="square hidden lg:block bg-roll-900 rounded-lg h-full w-full lg:col-start-1 lg:row-start-6"></div>
        </section>
    </div>
    <h2 class={`pt-4 text-3xl xl:text-4xl font-bold ${VARIANT_MAPS["roll"].h1}`}>Case Study</h2>
    <h3 class={`pb-4 text-xl xl:text-2xl font-semibold ${VARIANT_MAPS["roll"].h2}`}>Payroll Run</h3>
    <div class="pb-10 grid gap-4 xs:grid-cols-2 lg:grid-cols-3">
        <p class="font-semibold">Small business owners need to run payroll confidently and fast on the go and in office.</p>
        <p>There are a lot of attributes to consider per employee. How do we give business owners just what they need without congative overload?</p>
    </div>
    <h4 class="hidden">Skills displayed</h4>
    <div class="sm:space-x-4 space-y-2 sm:space-y-0 mb-20 lg:mb-40">
        <span class="text-xs font-extralight bg-roll-1000 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Product thinking</span>
        <span class="text-xs font-extralight bg-roll-900 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Interaction design</span>
        <span class="text-xs font-extralight bg-roll-800 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Visual design</span>
        <span class="text-xs font-extralight bg-roll-700 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Proactivity and drive</span>
        <span class="text-xs font-extralight bg-roll-600 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Intentionality</span>
        <span class="text-xs font-extralight bg-roll-500 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Self-awareness</span>
    </div>
    <section class="grid gap-12 place-content-center place-items-center mb-20 lg:mb-40 xs:grid-cols-2 md:grid-cols-3 md:grid-rows-3">
        <div class="md:row-span-3">
            <p class="lg:text-xl font-semibold pb-4">Meet with SVP, product and engineering to establish a heirarchy for the features highlighting the needs of the business owner. Features to see for every employee immediately and those that can be a tap away.</p>
            <p class="lg:text-lg">Use color, font size, font weight, placement and progressive disclosure leaning on existing / established UX, UI, iconography and interaction patterns.</p>
        </div>
        <div class="xs:grid-cols-2 md:col-span-2 md:row-span-3 w-full h-full flex justify-center items-center">
            <svg viewBox="0 0 723 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                xml:space="preserve" class="fill-current w-full h-full lg:w-3/4 lg:3/4">
                <g id="hierarchy-together">
                    <g id="blob">
                        <g id="blob-shape" class="fill-current text-roll-100">
                            <path
                                d="M264.276,392.11c-34.268,-122.128 -184.259,-116.128 -184.259,-224.122c-0,-92.717 75.274,-167.991 167.99,-167.991c65.588,0 431.976,29.932 431.976,299.984c0,251.986 -306.882,479.973 -415.707,92.129Z" />
                            <path
                                d="M264.276,392.11c-34.268,-122.128 -184.259,-116.128 -184.259,-224.122c-0,-92.717 75.274,-167.991 167.99,-167.991c65.588,0 431.976,29.932 431.976,299.984c0,251.986 -306.882,479.973 -415.707,92.129Zm4.814,-1.35c-17.515,-62.423 -64.351,-92.327 -107.061,-120.198c-40.301,-26.3 -77.012,-50.49 -77.012,-102.574c-0,-89.957 73.033,-162.991 162.99,-162.991c39.013,0 185.39,10.643 296.241,77.017c73.126,43.785 130.735,112.001 130.735,217.967c0,89.361 -39.171,175.661 -94.321,231.694c-36.376,36.959 -79.696,60.764 -123.316,63.133c-72.981,3.964 -145.666,-52.261 -188.256,-204.048l0,-0Z" />
                        </g>
                    </g>
                    <g id="rectangles">
                        <path id="top" class="fill-current text-roll-200"
                            d="M545.602,77c24.84,14.747 47.947,32.248 67.751,53l-149.353,0c-0.53,0 -1.039,-0.211 -1.414,-0.586c-0.375,-0.375 -0.586,-0.884 -0.586,-1.414c0,-8.38 0,-40.62 0,-49c-0,-0.53 0.211,-1.039 0.586,-1.414c0.375,-0.375 0.884,-0.586 1.414,-0.586l81.602,0Z" />
                        <path id="middle" class="fill-current text-roll-300"
                            d="M643.149,167.857c10.258,16.095 18.716,33.714 24.93,53l-204.079,0c-0.53,0 -1.039,-0.211 -1.414,-0.586c-0.375,-0.375 -0.586,-0.883 -0.586,-1.414c0,-8.38 0,-40.62 0,-49c-0,-0.53 0.211,-1.039 0.586,-1.414c0.375,-0.375 0.884,-0.586 1.414,-0.586l179.149,0Z" />
                        <path id="bottom" class="fill-current text-roll-400"
                            d="M676.946,258.714c1.992,13.11 3.037,26.846 3.037,41.267c0,3.905 -0.073,7.805 -0.22,11.733l-215.763,0c-0.53,0 -1.039,-0.21 -1.414,-0.585c-0.375,-0.376 -0.586,-0.884 -0.586,-1.415c0,-8.38 0,-40.62 0,-49c-0,-0.53 0.211,-1.039 0.586,-1.414c0.375,-0.375 0.884,-0.586 1.414,-0.586l212.946,0Z" />
                    </g>
                    <g id="weight">
                        <g id="letters">
                            <path id="bold" class="fill-current text-orange-300"
                                d="M571.318,458.011c5.372,0 8.689,1.58 12.323,4.74l8.216,-15.641c-6.952,-4.898 -13.113,-7.11 -22.909,-7.11c-18.012,0 -30.967,11.218 -30.967,30.493l-0,3.16l-15.168,-0l0,17.695l15.168,0l-0,62.25l20.697,0l0,-62.25l24.489,0l0,-17.695l-24.489,-0l0,-3.002c0,-8.374 5.53,-12.64 12.64,-12.64Z" />
                            <path id="regular" class="fill-current text-orange-600"
                                d="M648.351,464.772c4.746,-0 8.679,1.492 11.663,3.797l4.204,-7.73c-4.611,-3.119 -9.086,-4.611 -16.003,-4.611c-13.697,0 -23.054,9.086 -23.054,23.461l0,5.289l-13.019,0l0,8.679l13.155,0l-0,59.941l9.493,0l-0,-59.941l22.647,0l-0,-8.679l-22.647,0l-0,-5.289c-0,-10.035 5.424,-14.917 13.561,-14.917Z" />
                            <path id="thin" class="fill-current text-orange-900"
                                d="M711.286,474.491c5.199,-0 8.137,2.26 10.058,4.181l1.469,-1.921c-1.808,-1.921 -5.311,-4.294 -11.753,-4.294c-8.023,-0 -15.369,6.102 -15.369,16.386l-0,7.572l-11.188,-0l-0,2.034l11.188,-0l-0,55.149l2.147,0l0,-55.149l21.585,-0l0,-2.034l-21.585,-0l0,-7.572c0,-9.493 6.781,-14.352 13.448,-14.352Z" />
                        </g>
                    </g>
                    <g id="accordion">
                        <g id="more-panel">
                            <path id="bottom-panel" class="fill-current text-roll-900"
                                d="M351,362.6l-160,0l0,121.37c-0,1.334 0.53,2.613 1.473,3.557c0.944,0.943 2.223,1.473 3.557,1.473c23.923,0 126.017,0 149.94,0c1.334,0 2.613,-0.53 3.557,-1.473c0.943,-0.944 1.473,-2.223 1.473,-3.557c-0,-23.503 -0,-121.37 -0,-121.37Zm-5,5l0,116.37c0,0.008 -0.003,0.016 -0.009,0.021c-0.005,0.006 -0.013,0.009 -0.021,0.009l-149.94,-0c-0.008,0 -0.016,-0.003 -0.021,-0.009c-0.006,-0.005 -0.009,-0.013 -0.009,-0.021l-0,-116.37l150,0Z" />
                        </g>
                        <g id="main-panel">
                            <path id="top-panel"
                                d="M351,336.987c-0,-4.411 -3.576,-7.987 -7.987,-7.987c-27.301,0 -116.725,0 -144.026,0c-4.411,0 -7.987,3.576 -7.987,7.987c0,12.352 0,34.68 0,34.68l160,-0l0,-34.68Zm-32.469,21.015c-0.624,0.625 -1.638,0.625 -2.262,-0c-2.743,-2.743 -9.811,-9.811 -13.738,-13.737c-0.457,-0.458 -0.594,-1.146 -0.346,-1.744c0.247,-0.598 0.831,-0.988 1.478,-0.988c6.77,0 20.704,0 27.474,0c0.647,0 1.231,0.39 1.478,0.988c0.248,0.598 0.111,1.286 -0.346,1.744c-3.927,3.926 -10.995,10.994 -13.738,13.737Z" />
                        </g>
                        <path id="close-button" class="fill-current text-roll-600"
                            d="M386.379,342.707c0.187,-0.187 0.442,-0.293 0.707,-0.293c0.265,0 0.519,0.106 0.707,0.293c2.553,2.554 11.345,11.345 15.086,15.086c0.286,0.286 0.371,0.716 0.216,1.09c-0.154,0.373 -0.519,0.617 -0.923,0.617c-6.404,0 -23.768,0 -30.172,0c-0.404,-0 -0.769,-0.244 -0.924,-0.617c-0.155,-0.374 -0.069,-0.804 0.217,-1.09c3.741,-3.741 12.532,-12.532 15.086,-15.086Z" />
                    </g>
                    <g id="placement">
                        <circle id="bottom-right" cx="155" cy="175" r="45" />
                        <path class="fill-current text-roll-300"
                            d="M155,130c24.836,0 45,20.164 45,45c0,24.836 -20.164,45 -45,45c-24.836,0 -45,-20.164 -45,-45c0,-24.836 20.164,-45 45,-45Zm0,5c22.077,0 40,17.923 40,40c0,22.077 -17.923,40 -40,40c-22.077,0 -40,-17.923 -40,-40c-0,-22.077 17.923,-40 40,-40Z" />
                        <circle id="bottom-left" cx="45" cy="175" r="45" />
                        <path class="fill-current text-roll-400"
                            d="M45,130c24.836,0 45,20.164 45,45c-0,24.836 -20.164,45 -45,45c-24.836,0 -45,-20.164 -45,-45c0,-24.836 20.164,-45 45,-45Zm0,5c22.077,0 40,17.923 40,40c-0,22.077 -17.923,40 -40,40c-22.077,0 -40,-17.923 -40,-40c0,-22.077 17.923,-40 40,-40Z" />
                        <circle id="top-left" cx="45" cy="65" r="45" />
                        <path class="fill-current text-orange-500"
                            d="M45,20c24.836,0 45,20.164 45,45c-0,24.836 -20.164,45 -45,45c-24.836,-0 -45,-20.164 -45,-45c0,-24.836 20.164,-45 45,-45Zm0,5c22.077,0 40,17.923 40,40c-0,22.077 -17.923,40 -40,40c-22.077,-0 -40,-17.923 -40,-40c0,-22.077 17.923,-40 40,-40Z" />
                        <path id="arrow" class="fill-current text-roll-600"
                            d="M121.789,65.894c-0.339,-0.169 -0.553,-0.515 -0.553,-0.894c0,-0.379 0.214,-0.725 0.553,-0.894c9.894,-4.948 57.798,-28.9 66.764,-33.382c0.31,-0.155 0.678,-0.139 0.973,0.043c0.295,0.183 0.474,0.504 0.474,0.851c-0,9.441 -0,57.323 -0,66.764c0,0.347 -0.179,0.668 -0.474,0.851c-0.295,0.182 -0.663,0.198 -0.973,0.043c-8.966,-4.482 -56.87,-28.434 -66.764,-33.382Z" />
                    </g>
                </g>
            </svg>
        </div>
    </section>
    <section class="grid gap-12 place-content-center place-items-center mb-20 lg:mb-40 xs:grid-cols-2 md:grid-cols-3 md:grid-rows-3">
        <div class="row-start-2 xs:row-start-1 xs:grid-cols-2 md:col-span-2 md:row-span-3 w-full h-full flex justify-center items-center">
            <img src="/assets/roll/whiteboard-sketches-800px.jpg" alt="Sketches post whiteboard session fleshing out panel and accordion variants">
        </div>
        <div class="row-start-1 xs:row-start-2 md:row-span-3">
            <p class="lg:text-xl font-semibold pb-4">Whiteboard how we use the above design signals to arrange the visual hierarchy of attributes on a panel. More discussion leads to continued whiteboarding layout for accordion secondary panel with deemphasized attributes.</p>
            <p class="lg:text-lg">We also explore existing design patterns and look for oppertunities to infer from what we already know. For instance if we know a business owner gave an employee a raise mid week we will show two inputs for that employee with hours for the mid-cycle change in rate.</p>
        </div>
    </section>
    <section class="grid gap-12 place-content-center place-items-center mb-20 lg:mb-40 xs:grid-cols-2 md:grid-cols-3 md:grid-rows-3">
        <div class="md:row-span-3">
            <p class="lg:text-xl font-semibold pb-4">We established the need for a new hybrid accordion-like design pattern. Flexible enough to be used with or without a sub-panel, with signals for the user to find secondary deemphasized attribues within existing design system constrains.</p>
            <p class="lg:text-lg">During the process of designing the higher fidelity mock ups I reached out to product to discuss other possible use cases for this type of design pattern. I also spoke with the engineering team to understand the data coming from the backend to help shape how the data flowed onto the users screens.</p>
        </div>
        <div class="xs:grid-cols-2 md:col-span-2 md:row-span-3 w-full h-full flex justify-center items-center">
            <img src="/assets/roll/payroll-run-hi-fidelity@2x.png" alt="High fidelity mock ups showing changes from feedback and discussion with product and development">
        </div>
    </section>
    <section class="grid gap-12 place-content-center place-items-center mb-20 lg:mb-40 xs:grid-cols-2 md:grid-cols-3 md:grid-rows-3">
        <div class="row-start-2 xs:row-start-1 xs:grid-cols-2 md:col-span-2 md:row-span-3 w-full h-full flex justify-center items-center">
            <video controls autoplay loop>
                <source src="/assets/roll/payroll-run-video.webm" type="video/webm">
                Sorry, your browser doesn't support embedded videos.
            </video>
        </div>
        <div class="row-start-1 xs:row-start-2 md:row-span-3">
            <p class="lg:text-xl font-semibold pb-4">After hi-fidelity mock ups I build working prototype in Storybook to review withthe team to refine and demo other use cases. I would continue to refine component UI and API establishing best practices, accessibility while working with engineering as they would be implementing the new component into the desktop and mobile app.</p>
        </div>
    </section>
</PortfolioLayout>
