---
import PortfolioLayout from '../../layouts/PortfolioLayout.astro'
import { Variant, VARIANT_MAPS } from '../../utils/variants.ts'
---

<PortfolioLayout title="Roll by ADP" variant="roll">
    <h2 class={`pt-4 text-3xl xl:text-4xl font-bold ${VARIANT_MAPS["roll"].h1}`}>Roll by ADP</h2>
    <h3 class={`pb-4 text-xl xl:text-2xl font-semibold ${VARIANT_MAPS["roll"].h2}`}>UX, UI, Design System</h3>
    <p class="pb-8 md:w-1/2 lg:w-1/3 font-semibold">Over seven years of collaborating with product, design and engineering teams. Diving into the minutia to provide meaningful and relevant experiences for our users.</p>
    <section class="grid gap-4 place-items-center xs:grid-cols-2 md:grid-cols-4 md:grid-rows-2 lg:grid-cols-8 lg:grid-rows-8 pb-4">
        <img src="/assets/squared/roll-squared-01@2x.png" alt="Mock up of the original logo design for Roll by ADP" class="xs:square md:col-span-2 md:row-span-2 lg:col-span-4 lg:row-span-4 lg:row-start-2">
        <img src="/assets/squared/roll-squared-02@2x.png" alt="Screenshot of VSCode showing the design tokens repository for Roll by ADP" class="xs:square lg:row-start-2 lg:col-start-7 lg:col-span-2 lg:row-span-2">
        <img src="/assets/squared/roll-squared-03@2x.png" alt="Screenshot of the payroll run conversation UI showcasing the components design and created for our clients" class="xs:square lg:row-start-5 lg:col-start-6 lg:col-span-3 lg:row-span-3">
        <img src="/assets/squared/roll-squared-04@2x.png" alt="Screenshots of the mobile app that would eventually be used circa 2018" class="xs:square lg:row-start-1 lg:col-start-5 lg:row-span-2 lg:col-span-2">
        <div aria-hidden="true" class="square hidden lg:block bg-roll-50 h-full w-full lg:col-start-3"></div>
        <div aria-hidden="true" class="square hidden md:block bg-roll-100 rounded-lg h-full w-full lg:col-start-4"></div>
        <div aria-hidden="true" class="square hidden lg:block bg-roll-200 rounded-lg h-full w-full lg:col-start-5 lg:row-start-3"></div>
        <div aria-hidden="true" class="square hidden lg:block bg-roll-300 rounded-lg h-full w-full lg:col-start-5 lg:row-start-4"></div>
        <div aria-hidden="true" class="square hidden lg:block bg-roll-400 rounded-lg h-full w-full lg:col-start-5 lg:row-start-5"></div>
        <div aria-hidden="true" class="square hidden lg:block bg-roll-500 rounded-lg h-full w-full lg:col-start-5 lg:row-start-6"></div>
        <div aria-hidden="true" class="square hidden lg:block bg-roll-600 rounded-lg h-full w-full lg:col-start-4 lg:row-start-6"></div>
        <div aria-hidden="true" class="square hidden lg:block bg-roll-700 rounded-lg h-full w-full lg:col-start-3 lg:row-start-6"></div>
        <div aria-hidden="true" class="square hidden lg:block bg-roll-800 rounded-lg h-full w-full lg:col-start-2 lg:row-start-6"></div>
        <div aria-hidden="true" class="square hidden lg:block bg-roll-900 rounded-lg h-full w-full lg:col-start-1 lg:row-start-6"></div>
    </section>
    <h2 class={`pt-4 text-3xl xl:text-4xl font-bold ${VARIANT_MAPS["roll"].h1}`}>Case Study</h2>
    <h3 class={`pb-4 text-xl xl:text-2xl font-semibold ${VARIANT_MAPS["roll"].h2}`}>Payroll Run</h3>
    <p class="pb-4 md:w-1/2 lg:w-1/3 font-semibold">Small business owners need to run payroll confidently and fast on the go and in office.</p>
    <div class="sm:space-x-4 space-y-2 sm:space-y-0 mb-8">
    <span class="text-xs font-extralight bg-roll-1000 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Product thinking</span>
    <span class="text-xs font-extralight bg-roll-900 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Interaction design</span>
    <span class="text-xs font-extralight bg-roll-800 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Visual design</span>
    <span class="text-xs font-extralight bg-roll-700 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Proactivity and drive</span>
    <span class="text-xs font-extralight bg-roll-600 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Intentionality</span>
    <span class="text-xs font-extralight bg-roll-500 px-4 py-1 rounded-lg text-roll-100 break-normal block sm:inline-block">Self-awareness</span>
    </div>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>There is a lot of features to consider per employee</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>How do we give business owners just what they need without congative overload?</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>Use color, font size, font weight, placement and progressive disclosure leaning on existing / established UX, UI and interaction patterns.</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>Establish a heirarchy for the features highlighting the needs of the business owner. Features to see for every employee and those that can be a tap away.</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>Whiteboard how we might use the above dsign signals to arrange the visual hierarchy of features per employee and discuss.</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>Continue whiteboarding layout for secondary hidden panel with potential sub features.</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>Explore existing design patterns to see if any apply or can be modified to be used in this space.</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>Review the business requirements that many lead t othe sub features being required with product and engineering who also understands the conditions and implementaiton details</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>Established new accordion like design pattern flexible enough to be used with or without a sub panel, with signals for the user to find secondary features within exinsting design system constrains.</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>Build working prototype in Storybook to review with product and engineering to refine for future uses.</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>Continue to refine conmponent UI establishing best practices, accessibility while working with engineering as they implement new component into the app.</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
    <section class="grid gap-4 place-items-center xs:grid-cols-2">
        <div>
            <p>Thrhoughout the first meeting and in subsequent conversations product and I discussed future features in our app where we would be using a component like this. This aided in the creation of a dynamic front-end component API and design with flexible affordances built in.</p>
        </div>
        <div>
            <p>Placeholder</p>
        </div>
    </section>
</PortfolioLayout>
